# Compiled binaries
bin/
*.o

# System and OS files
.DS_Store
Thumbs.db

# Temporary or backup files
*~

# IDE/editor settings
.vscode/
*.code-workspace

# SSL certificates (MUST NOT be tracked)
certs/

# Server data and test files
server_data/
test_files/
synced_data/

# Hash and runtime metadata (leave out of Git)
client_previous_hashes.txt
previous_hashes.txt

# Logs or debug outputs
*.log
*.dump
# Ignore contents but keep folder structure
server_data/*
!server_data/.gitkeep

test_files/*
!test_files/.gitkeep

data/*
!data/.gitkeep
